* {
  box-sizing: border-box;
}

button {
  background-color: white;
  width: 130px;
  border: 1px solid lightgrey;
  padding: 4px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: lightgray;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.left-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: cadetblue;
  border-width: 0 1px 0 0;
  border-style: solid;
  padding: 10px;
  background-color: white;
}

.main-grid {
  width: 500px;
  height: 500px;
  display: grid;
  border: 1px solid darkgray;
  grid-gap: 0.05rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0a9bd;
  width: 100%;
  height: 100%;

  &:hover {
    background-color: gainsboro;
  }

  &[data-selected="true"] {
    background-color: #d96846;
  }
}

.cell-data {
  font-size: 12px;
}

#group1 {
  margin-bottom: 20px;
  width: 130px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.run-game {
  margin-bottom: 20px;
}

#iterations {
  font-weight: bold;
}