* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: whitesmoke;
}

button {
  width: 130px;
  padding: 4px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: lightgray;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  border: 1px solid lightgrey;
  padding: 4px;
  border-radius: 4px;
}

label{
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.left-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-color: cadetblue;
  border-width: 0 1px 0 0;
  border-style: solid;
  padding: 10px;
  background-color: rgba(256, 256, 256, 0.8);

  * {
    font-size: 12px;
  }
}

.main-grid {
  width: calc(100% - 150px);
  height: 100%;
}

.information-panel {
  margin-bottom: 40px;
  font-size: 14px;
}

.randomize {
  margin-bottom: 20px;
}

.randomize-factor {
  width: 130px;
  margin-bottom: 5px;
}

.run-game {
  margin-bottom: 5px;
}

.pause-game {
  margin-bottom: 5px;
}

.iterations {
  text-align: center;
}

.wiki {
  margin-top: auto;
}